<div class="home">
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= "active" if @type == :newest %>">
      <%= link_to t(".newest"), root_path(type: "newest") %>
    </li>
    <li role="presentation" class="<%= "active" if @type == :trending %>">
      <%= link_to t(".trending"), root_path(type: "trending") %>
    </li>
  </ul>
  <%= render "shared/product_feed" %>
</div>
