<%= provide :title, t(".title") %>

<div class="admin-orders">
  <h1><%= t ".title" %></h1>

  <div class="search-wrapper">
    <%= form_tag admin_orders_path, class: "search-form", method: :get do %>
      <%= label_tag :status_id, t(".status") %>

      <%= select_tag :status_id,
          options_for_select(Order.status_attributes_for_select,
          selected: params[:option]),
          class: "form-control", include_blank: true %>

      <%= submit_tag t(".search"), class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="table-wrapper">
    <table class="table">
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".phone" %></th>
        <th><%= t ".status" %></th>
        <th><%= t ".total" %></th>
        <th><%= t ".order_date" %></th>
        <th><%= t ".action" %></th>
      </tr>
      <tbody>
        <%= render @orders %>
      </tbody>
    </table>
    <div>
      <%== pagy_bootstrap_nav @pagy %>
    </div>
  </div>
<div>
