<header>
  <div class="container">
    <div class="header__navbar">
      <div class="header__navbar-left">
        <%= link_to "SGM", root_path, class: "menu-logo" %>
        <div class="form-container">
          <form>
            <input
              type="text"
              class="form-input"
            />
            <input
              type="button"
              class="form-button"
              value="Search"
            />
          </form>
        </div>
      </div>
      <div class="header__navbar-right">
        <div class="header__navbar-right-menu">
        <% if logged_in? %>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= @current_user.name %> <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <% if is_admin? %>
                <li><%= link_to "Admin", admin_root_path %></li>
              <% end %>
              <li><%= link_to t(".orders"), "#" %></li>
              <li><%= link_to t(".settings"), "#" %></li>
              <li><%= link_to t(".sign_out"), signout_path, method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to t(".sign_up"), signup_path, class: "first-link" %>
          <%= link_to t(".sign_in"), signin_path %>
        <% end %>
        </div>
        <div class="cart">
          <%= link_to cart_index_path do %>
            <div class="cart-wrapper">
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <span id="cart_amount" class="cart-wrapper-amount"><%= cart_items.size %></span>
            </div>

            <div>
              <%= t ".cart" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
